//add a image
@mixin add-image($width, $height, $image) {
    display: inline-block;
    position: relative;
    content: "";
    width: $width;
    height: $height;
    background: url($image);
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin add-image-nourl($width, $height) {
    display: inline-block;
    position: relative;
    content: "";
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin transition($top, $left, $background) {
    position: absolute;
    content: "";
    top: $top;
    left: $left;
    width: 40px;
    height: 40px;
    background: $background;
    border-radius: 50px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}